*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
}

.insert_panel{
  width:400px;
  margin:0px auto;
}
.submit-btn{
  margin:0 auto;
}

.warning{
  width:100%;
  padding:20px 0px;
  text-align:center;
  font-size:20px;
  background-color: #F65A27;
  border-radius: 15px;
  margin-bottom: 20px;
}
