<div class="details_panel">
  <ul class="list-group list-group-flush details_list">
    <li class="list-group-item"><b>Name</b>{{product_details.name}}</li>
    <li class="list-group-item description"><b>Description:</b>{{product_details.description}}</li>
    <li class="list-group-item"><b>Price($):</b>{{product_details.price}}</li>
  </ul>
  <img class="product_image" src="{{product_details.imagePath}}" alt="">
</div>
